.homeContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}

.homeContainer__name {
  text-align: center;
}

.homeContainer__image {
  width: 100vw;
  margin: 2vh 0;
}

.homeInformations {
  margin: 2vh 0;
  width: 90vw;
  box-shadow: 0px 5px 10px 2px var(--color-shadow);
}

.homeInformations__nav {
  box-shadow: 0px 5px 10px 2px var(--color-shadow);
  margin-bottom: 2vh;
  display: flex;
  justify-content: space-between;
}

.homeInformations__nav > ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding: 2%;
}

.homeInformations__button {
  background-color: hsla(0, 0%, 100%, 100%);
  width: 30%;
  border: none;
  font-size: 1.2rem;
  font-weight: 800;
  padding-top: 2%;
}

.homeInformations__contained {
  margin: 2%;
  font-size: 1.2rem;
}

.rdvTitle {
  font-size: 1.5rem;
  font-weight: 900;
  width: 90vw;
  text-align: left;
}

.homeInformations__rdv {
  box-shadow: 0px 5px 10px 2px var(--color-shadow);
  width: 90%;
  margin-bottom: 2vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.homeInformations__rdv__name {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 700;
}

.homeInformations__rdv__event {
  width: 100%;
}

.homeInformations__rdv__buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
