:root {
  --color-background: #fffdf7;
  --color-shadow: hsl(37, 25%, 25%);
  --color-green: #94d1cb;
  --color-yellow: #e8c67d;
  --color-red: #e8997d;
}

@font-face {
  font-family: "Baloo Tamma 2";
  src: url("./src/assets/fonts/BalooTamma2-VariableFont_wght") format("ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Baloo Tamma 2";
  background-color: var(--color-background);
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}
